@{
    ViewBag.Title = "Edit Diploma";
}

<h1>@ViewBag.ErrorMessage</h1>
@model Diploma


<form asp-controller="Diploma" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="card mt-3">
        <div class="card-header">
            <label hidden>@Model.Id</label>                      
            <input hidden class="form-control" asp-for="@Model.TeacherName" value="@Model.TeacherName" />
            <input hidden class="form-control" asp-for="@Model.Status" value="@Model.Status" />
            <div class="form-group col-md-6">
                <label asp-for="Title"></label>
                <input class="form-control" asp-for="@Model.Title" value="@Model.Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group col-md-6">
                <label asp-for="StudentName"></label>
                <input class="form-control" asp-for="@Model.StudentName" value="@Model.StudentName"/>
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Description"></label>
                <textarea class="form-control" rows="3" asp-for="@Model.Description">@Model.Description</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-dark">Update</button>
            <a asp-action="ShowDiplomas" class="btn btn-dark">Cancel</a>
        </div>
    </div>
</form>
