@model QuizMaster.ViewModels.PlayerViewModel
@{
    ViewData["Title"] = "Start Quiz";
}
<style>
        body {
        background-image: url('@Url.Content("~/images/sided.png")');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position:center;
        }
</style>
<body>    
    <div class="card mb-3" style="max-width: 350px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/images/rankIcons/@(Model.Rank).png" alt="@Model.Rank" height="150" width="150">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Rank</h5>
                    <div class="progress">
                        <div class="progress-bar bg-@TempData["color"]" role="progressbar" style="width: @TempData["width"]" aria-valuenow="50" aria-valuemin="@TempData["min"]" aria-valuemax="@TempData["max"]">@Model.Score</div>
                    </div>
                    <p class="card-text"><small class="text-muted">@TempData["points"] points to reach the next rank</small></p>
                    @if (User.IsInRole("Player"))
                    {
                        <p class="card-text"><small class="text-muted">Daliy Questions: @Model.Questions</small></p>
                    }
                    else if (User.IsInRole("PremiumPlayer"))
                    {
                        <p class="card-text"><small class="text-muted">🌟Unlimited Questions</small></p>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="text-center row justify-content-center">
        <form asp-controller="Player">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <h3>Question</h3>
                <label>@Model.Question.question</label>
            </div>
            <div class="form-group">
                <label>Type your answer</label>
                <input asp-for="InputAnswer" class="form-control">
                <span asp-validation-for="InputAnswer" class="text-danger"></span>
                <small class="form-text text-muted">If you don't know the correct answer you can always skip. But be careful your daily questions will be reduced by 1.</small>
            </div>
            <div class="form-group" id="hint">
                <label>The correct answer is: @Model.Question.answer</label>
                <input asp-for="Question.answer" hidden />
            </div>
            @if (TempData["Message"] != null)
            {
                <div class="form-group">
                    <label>@TempData["Message"]</label>
                </div>
            }

            <div class="mt-3">
                <button type="submit" asp-action="CheckAnswer" class="btn btn-success">Confirm</button>
                <a class="btn btn-dark" asp-controller="Player" asp-action="SkipQuestion">Skip Question</a>
                <button type="button" onclick="ShowHint()" class="btn btn-warning">Hint</button>
            </div>
        </form>
    </div>
</body>



<script>
    document.getElementById("hint").style.display = "none";
</script>

@section Scripts{
    <script src="~/js/ShowHint.js"></script>
}
